# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# JetBrains
.idea/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Logs
*.log